// css reset
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

// HTML5 tags
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}

// color
$green: #78c150;
$green-light: #8dd964;
$green-dark: #6ab442;

$blue: #2b8fc9;
$blue-light: #37a2e1;
$blue-dark: #2586be;

$grey: #9d9d9d;
$grey-light: #b5b5b5;
$grey-dark: #919191;

$text: #000;
$text-light: #999;
$text-link: #2b8fc9;

$form-hover: #f1f1f1;
$form-border: #c1c1c1;

// mixin
@mixin  box-radius ($top:3px, $bottom:3px) {
    -webkit-border-radius: $top $top $bottom $bottom;
    -moz-border-radius: $top $top $bottom $bottom;
    border-radius: $top $top $bottom $bottom;
}
@mixin inline-block () {
    display:inline-block;
    *display:inline;
    *zoom:1;
}

// sprite
@import 'sprite/_icon';
.icon {
    @include inline-block();
    _font-size:0;
    &--select-arrow {
        @include sprite($select-arrow);
    }
    &--arrow {
        @include sprite($arrow);
    }
    &--notice {
        @include sprite($notice);
    }
    &--nav1 {
        @include sprite($nav1);
        &:hover {
            @include sprite($nav1--hover);
        }
    }
    &--nav2 {
        @include sprite($nav2);
        &:hover {
            @include sprite($nav2--hover);
        }
    }
    &--nav3 {
        @include sprite($nav3);
        &:hover {
            @include sprite($nav3--hover);
        }
    }
    &--nav4 {
        @include sprite($nav4);
        &:hover {
            @include sprite($nav4--hover);
        }
    }
    &--nav5 {
        @include sprite($nav5);
        &:hover {
            @include sprite($nav5--hover);
        }
    }
    &--nav6 {
        @include sprite($nav6);
        &:hover {
            @include sprite($nav6--hover);
        }
    }
    &--nav7 {
        @include sprite($nav7);
        &:hover {
            @include sprite($nav7--hover);
        }
    }
    &--nav8 {
        @include sprite($nav8);
        &:hover {
            @include sprite($nav8--hover);
        }
    }
    &--nav9 {
        @include sprite($nav9);
        &:hover {
            @include sprite($nav9--hover);
        }
    }
    &--nav10 {
        @include sprite($nav10);
        &:hover {
            @include sprite($nav10--hover);
        }
    }
    &--nav11 {
        @include sprite($nav11);
        &:hover {
            @include sprite($nav11--hover);
        }
    }
}

// base
body {
    font:14px/1.5 Tahoma,Helvetica,"Microsoft YaHei",arial,sans-serif;
    color:$text;
    background:#fff;
}
a {
    color:$text-link;
    text-decoration:none;
    background:transparent;
    &:hover {
        text-decoration:underline;
    }
}
.cf {
    *zoom:1;
    &:after {
        content:'';
        display:block;
        clear:both;
        height:0;
        overflow:hidden;
        visibility:hidden;
    }
}

// button
.btn {
    @include inline-block();
    height:30px;
    line-height:30px;
    padding:0 18px;
    background:$green;
    color:#fff;
    @include box-radius();
    &:hover {
        background:$green-light;
        text-decoration:none;
    }
    &:active {
        background:$green-dark;
    }
    &--grey {
        background:$grey;
        &:hover {
            background:$grey-light;
        }
        &:active {
            background:$grey-dark;
        }
    }
    &--blue {
        background:$blue;
        &:hover {
            background:$blue-light;
        }
        &:active {
            background:$blue-dark;
        }
    }
    &--large {
        padding:0 28px;
    }
}

// tab
.tab {
    &__nav {
        border-bottom:1px solid $form-border;
        li {
            float:left;
        }
        a {
            color:#aac5d4;
            padding-bottom:5px;
            &:hover {
                color:$text-link;
                text-decoration:none;
            }
        }
        .current {
            color:$text-link;
            padding-bottom:0;
            border-bottom:5px solid $blue;
        }
    }
    &__sheet {
        display:none;
    }
    .current {
        display:block;
    }
}

// tip
.tip {
    @include box-radius();
    background:$blue;
    color:#fff;
    padding:1px 4px;
    &--yellow {
        background:#ffb527;
    }
    &--red {
        background:#df4040;
    }
}

// dropdown
.dropdown {
    position:relative;
    &__content {
        display:none;
        position:absolute;
        left:0;
        padding:10px 0;
        border:1px solid $form-border;
        background:#fff;
        a {
            display:block;
            padding:7px 10px;
            color:$text;
            _zoom:1;
            &:hover {
                text-decoration:none;
                background:$form-hover;
            }
        }
    }
}

// select
.select {
    position:relative;
    @include inline-block();
    &__trigger {
        @include box-radius();
        border:1px solid $form-border;
        height:35px;
        line-height:35px;
        cursor:pointer;
        _display:inline;
        _zoom:1;
        p {
            background:$form-hover;
            border-right:1px solid #e1e1e1;
            text-align:center;
            margin-right:38px;
            white-space:nowrap;
            _white-space:normal;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .icon {
            margin:14px 13px 0;
            float:right;
        }
    }
    .active {
        @include box-radius(3px, 0);
    }
    &__content {
        @extend .dropdown__content;
        @include box-radius(0);
        border-top:0;
        padding:0;
        margin-top:-1px;
        a {
            border-top:1px solid #e1e1e1;
            white-space:nowrap;
            _white-space:normal;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }
}

// tooltip
.tooltip {
    position:absolute;
    padding:5px 8px;
    border:solid 1px $blue;
    background:#fff;
    z-index:100;
    &__arrow {
        position:absolute;
        display:block;
        height:0;
        width:0;
        border:solid 8px $blue;
        &--mask {
            border-color:#fff;
        }
    }
    &--tc {
        .tooltip__arrow {
            border-bottom:0;
            border-left-color:transparent;
            border-right-color:transparent;
            bottom:-8px;
            left:50%;
            margin-left:-8px;
            &--mask {
                bottom:-7px;
            }
        }
    }
    &--rc {
        .tooltip__arrow {
            border-bottom-color:transparent;
            border-left:0;
            border-top-color:transparent;
            left:-8px;
            top:50%;
            margin-top:-8px;
            &--mask {
                left:-7px;
            }
        }
    }
    &--bc {
        .tooltip__arrow {
            border-top:0;
            border-left-color:transparent;
            border-right-color:transparent;
            top:-8px;
            left:50%;
            margin-left:-8px;
            &--mask {
                top:-7px;
            }
        }
    }
    &--lc {
        .tooltip__arrow {
            border-bottom-color:transparent;
            border-top-color:transparent;
            border-right:0;
            right:-8px;
            top:50%;
            margin-top:-8px;
            &--mask {
                right:-7px;
            }
        }
    }
}

// form

// dialog
