@import '_doggy';

body {
    padding:0 100px;
}
.wrapper {
    padding:20px;
}
.tab {
    margin-right:20px;
    &__nav a {
        padding-left:30px;
        padding-right:30px;
    }
}
.dropdown {
    width:100px;
    cursor:pointer;
    margin-right:20px;
    &__trigger {
        background:#d14836;
        color:#fff;
        text-align:center;
    }
}
.select {
    width:140px;
}
.icon {
    margin-right:10px;
    &--arrow {
        background-color:#fff;
    }
    &--notice {
        background-color:#fff;
    }
}
#icon {
    background:$blue;
}
