// base
body {
    font:14px/1.5 Tahoma,Helvetica,"Microsoft YaHei",arial,sans-serif;
    color:$text;
    background:#fff;
}
a {
    color:$text-link;
    text-decoration:none;
    background:transparent;
    &:hover {
        text-decoration:underline;
    }
}
.cf {
    *zoom:1;
    &:after {
        content:'';
        display:block;
        clear:both;
        height:0;
        overflow:hidden;
        visibility:hidden;
    }
}
.pull-left {
    float:left;
}
.pull-right {
    float:right;
}
