// color
$green: #78c150;
$green-light: #8dd964;
$green-dark: #6ab442;

$blue: #2b8fc9;
$blue-light: #37a2e1;
$blue-dark: #2586be;

$grey: #9d9d9d;
$grey-light: #b5b5b5;
$grey-dark: #919191;

$red: #df4040;
$yellow: #ffb527;

$text: #000;
$text-light: #999;
$text-link: #2b8fc9;

$form-hover: #f1f1f1;
$form-border: #c1c1c1;
