// select
.select {
    position:relative;
    @include inline-block();
    &__trigger {
        @include box-radius();
        border:1px solid $form-border;
        height:35px;
        line-height:35px;
        cursor:pointer;
        _display:inline;
        _zoom:1;
        p {
            background:$form-hover;
            border-right:1px solid #e1e1e1;
            text-align:center;
            margin-right:38px;
            @include ellipsis();
        }
        .icon {
            margin:14px 13px 0;
            float:right;
        }
    }
    .active {
        @include box-radius(3px, 0);
    }
    &__content {
        @extend .dropdown__content;
        @include box-radius(0);
        border-top:0;
        padding:0;
        margin-top:-1px;
        a {
            border-top:1px solid #e1e1e1;
            @include ellipsis();
        }
    }
    &--disable {
        color:#999;
        background:$form-hover;
    }
}
