// tooltip
.tooltip {
    position:absolute;
    display:none;
    padding:5px 8px;
    border:solid 1px $blue;
    background:#fff;
    z-index:100;
    &--active {
        display:block;
    }
    &__arrow {
        position:absolute;
        display:block;
        height:0;
        width:0;
        border:solid 8px $blue;
        _overflow:hidden;
        &--mask {
            border-color:#fff;
            _display:none;
        }
    }
    &--tc {
        .tooltip__arrow {
            border-bottom:0;
            border-left-color:transparent;
            border-right-color:transparent;
            _border-left-color:#fff;
            _border-right-color:#fff;
            bottom:-8px;
            left:50%;
            margin-left:-8px;
            &--mask {
                bottom:-7px;
            }
        }
    }
    &--rc {
        .tooltip__arrow {
            border-left:0;
            border-bottom-color:transparent;
            border-top-color:transparent;
            _border-bottom-color:#fff;
            _border-top-color:#fff;
            left:-8px;
            top:50%;
            margin-top:-8px;
            &--mask {
                left:-7px;
            }
        }
    }
    &--bc {
        .tooltip__arrow {
            border-top:0;
            border-left-color:transparent;
            border-right-color:transparent;
            _border-left-color:#fff;
            _border-right-color:#fff;
            top:-8px;
            left:50%;
            margin-left:-8px;
            &--mask {
                top:-7px;
            }
        }
    }
    &--lc {
        .tooltip__arrow {
            border-right:0;
            border-bottom-color:transparent;
            border-top-color:transparent;
            _border-bottom-color:#fff;
            _border-top-color:#fff;
            right:-8px;
            top:50%;
            margin-top:-8px;
            &--mask {
                right:-7px;
            }
        }
    }
}
