/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-x: 0px;
$arrow-y: 420px;
$arrow-offset-x: 0px;
$arrow-offset-y: -420px;
$arrow-width: 24px;
$arrow-height: 24px;
$arrow-total-width: 24px;
$arrow-total-height: 468px;
$arrow-image: '../img/icon.png';
$arrow: 0px 420px 0px -420px 24px 24px 24px 468px '../img/icon.png';
$nav1--hover-x: 0px;
$nav1--hover-y: 32px;
$nav1--hover-offset-x: 0px;
$nav1--hover-offset-y: -32px;
$nav1--hover-width: 18px;
$nav1--hover-height: 18px;
$nav1--hover-total-width: 24px;
$nav1--hover-total-height: 468px;
$nav1--hover-image: '../img/icon.png';
$nav1--hover: 0px 32px 0px -32px 18px 18px 24px 468px '../img/icon.png';
$nav1-x: 0px;
$nav1-y: 86px;
$nav1-offset-x: 0px;
$nav1-offset-y: -86px;
$nav1-width: 18px;
$nav1-height: 18px;
$nav1-total-width: 24px;
$nav1-total-height: 468px;
$nav1-image: '../img/icon.png';
$nav1: 0px 86px 0px -86px 18px 18px 24px 468px '../img/icon.png';
$nav10--hover-x: 0px;
$nav10--hover-y: 380px;
$nav10--hover-offset-x: 0px;
$nav10--hover-offset-y: -380px;
$nav10--hover-width: 20px;
$nav10--hover-height: 20px;
$nav10--hover-total-width: 24px;
$nav10--hover-total-height: 468px;
$nav10--hover-image: '../img/icon.png';
$nav10--hover: 0px 380px 0px -380px 20px 20px 24px 468px '../img/icon.png';
$nav10-x: 0px;
$nav10-y: 240px;
$nav10-offset-x: 0px;
$nav10-offset-y: -240px;
$nav10-width: 20px;
$nav10-height: 20px;
$nav10-total-width: 24px;
$nav10-total-height: 468px;
$nav10-image: '../img/icon.png';
$nav10: 0px 240px 0px -240px 20px 20px 24px 468px '../img/icon.png';
$nav11--hover-x: 0px;
$nav11--hover-y: 220px;
$nav11--hover-offset-x: 0px;
$nav11--hover-offset-y: -220px;
$nav11--hover-width: 20px;
$nav11--hover-height: 20px;
$nav11--hover-total-width: 24px;
$nav11--hover-total-height: 468px;
$nav11--hover-image: '../img/icon.png';
$nav11--hover: 0px 220px 0px -220px 20px 20px 24px 468px '../img/icon.png';
$nav11-x: 0px;
$nav11-y: 200px;
$nav11-offset-x: 0px;
$nav11-offset-y: -200px;
$nav11-width: 20px;
$nav11-height: 20px;
$nav11-total-width: 24px;
$nav11-total-height: 468px;
$nav11-image: '../img/icon.png';
$nav11: 0px 200px 0px -200px 20px 20px 24px 468px '../img/icon.png';
$nav2--hover-x: 0px;
$nav2--hover-y: 280px;
$nav2--hover-offset-x: 0px;
$nav2--hover-offset-y: -280px;
$nav2--hover-width: 20px;
$nav2--hover-height: 20px;
$nav2--hover-total-width: 24px;
$nav2--hover-total-height: 468px;
$nav2--hover-image: '../img/icon.png';
$nav2--hover: 0px 280px 0px -280px 20px 20px 24px 468px '../img/icon.png';
$nav2-x: 0px;
$nav2-y: 160px;
$nav2-offset-x: 0px;
$nav2-offset-y: -160px;
$nav2-width: 20px;
$nav2-height: 20px;
$nav2-total-width: 24px;
$nav2-total-height: 468px;
$nav2-image: '../img/icon.png';
$nav2: 0px 160px 0px -160px 20px 20px 24px 468px '../img/icon.png';
$nav3--hover-x: 0px;
$nav3--hover-y: 122px;
$nav3--hover-offset-x: 0px;
$nav3--hover-offset-y: -122px;
$nav3--hover-width: 18px;
$nav3--hover-height: 18px;
$nav3--hover-total-width: 24px;
$nav3--hover-total-height: 468px;
$nav3--hover-image: '../img/icon.png';
$nav3--hover: 0px 122px 0px -122px 18px 18px 24px 468px '../img/icon.png';
$nav3-x: 0px;
$nav3-y: 104px;
$nav3-offset-x: 0px;
$nav3-offset-y: -104px;
$nav3-width: 18px;
$nav3-height: 18px;
$nav3-total-width: 24px;
$nav3-total-height: 468px;
$nav3-image: '../img/icon.png';
$nav3: 0px 104px 0px -104px 18px 18px 24px 468px '../img/icon.png';
$nav4--hover-x: 0px;
$nav4--hover-y: 180px;
$nav4--hover-offset-x: 0px;
$nav4--hover-offset-y: -180px;
$nav4--hover-width: 18px;
$nav4--hover-height: 20px;
$nav4--hover-total-width: 24px;
$nav4--hover-total-height: 468px;
$nav4--hover-image: '../img/icon.png';
$nav4--hover: 0px 180px 0px -180px 18px 20px 24px 468px '../img/icon.png';
$nav4-x: 0px;
$nav4-y: 400px;
$nav4-offset-x: 0px;
$nav4-offset-y: -400px;
$nav4-width: 18px;
$nav4-height: 20px;
$nav4-total-width: 24px;
$nav4-total-height: 468px;
$nav4-image: '../img/icon.png';
$nav4: 0px 400px 0px -400px 18px 20px 24px 468px '../img/icon.png';
$nav5--hover-x: 0px;
$nav5--hover-y: 68px;
$nav5--hover-offset-x: 0px;
$nav5--hover-offset-y: -68px;
$nav5--hover-width: 18px;
$nav5--hover-height: 18px;
$nav5--hover-total-width: 24px;
$nav5--hover-total-height: 468px;
$nav5--hover-image: '../img/icon.png';
$nav5--hover: 0px 68px 0px -68px 18px 18px 24px 468px '../img/icon.png';
$nav5-x: 0px;
$nav5-y: 50px;
$nav5-offset-x: 0px;
$nav5-offset-y: -50px;
$nav5-width: 18px;
$nav5-height: 18px;
$nav5-total-width: 24px;
$nav5-total-height: 468px;
$nav5-image: '../img/icon.png';
$nav5: 0px 50px 0px -50px 18px 18px 24px 468px '../img/icon.png';
$nav6--hover-x: 0px;
$nav6--hover-y: 260px;
$nav6--hover-offset-x: 0px;
$nav6--hover-offset-y: -260px;
$nav6--hover-width: 20px;
$nav6--hover-height: 20px;
$nav6--hover-total-width: 24px;
$nav6--hover-total-height: 468px;
$nav6--hover-image: '../img/icon.png';
$nav6--hover: 0px 260px 0px -260px 20px 20px 24px 468px '../img/icon.png';
$nav6-x: 0px;
$nav6-y: 140px;
$nav6-offset-x: 0px;
$nav6-offset-y: -140px;
$nav6-width: 20px;
$nav6-height: 20px;
$nav6-total-width: 24px;
$nav6-total-height: 468px;
$nav6-image: '../img/icon.png';
$nav6: 0px 140px 0px -140px 20px 20px 24px 468px '../img/icon.png';
$nav7--hover-x: 0px;
$nav7--hover-y: 300px;
$nav7--hover-offset-x: 0px;
$nav7--hover-offset-y: -300px;
$nav7--hover-width: 20px;
$nav7--hover-height: 20px;
$nav7--hover-total-width: 24px;
$nav7--hover-total-height: 468px;
$nav7--hover-image: '../img/icon.png';
$nav7--hover: 0px 300px 0px -300px 20px 20px 24px 468px '../img/icon.png';
$nav7-x: 0px;
$nav7-y: 320px;
$nav7-offset-x: 0px;
$nav7-offset-y: -320px;
$nav7-width: 20px;
$nav7-height: 20px;
$nav7-total-width: 24px;
$nav7-total-height: 468px;
$nav7-image: '../img/icon.png';
$nav7: 0px 320px 0px -320px 20px 20px 24px 468px '../img/icon.png';
$nav8--hover-x: 0px;
$nav8--hover-y: 340px;
$nav8--hover-offset-x: 0px;
$nav8--hover-offset-y: -340px;
$nav8--hover-width: 20px;
$nav8--hover-height: 20px;
$nav8--hover-total-width: 24px;
$nav8--hover-total-height: 468px;
$nav8--hover-image: '../img/icon.png';
$nav8--hover: 0px 340px 0px -340px 20px 20px 24px 468px '../img/icon.png';
$nav8-x: 0px;
$nav8-y: 360px;
$nav8-offset-x: 0px;
$nav8-offset-y: -360px;
$nav8-width: 20px;
$nav8-height: 20px;
$nav8-total-width: 24px;
$nav8-total-height: 468px;
$nav8-image: '../img/icon.png';
$nav8: 0px 360px 0px -360px 20px 20px 24px 468px '../img/icon.png';
$nav9--hover-x: 0px;
$nav9--hover-y: 16px;
$nav9--hover-offset-x: 0px;
$nav9--hover-offset-y: -16px;
$nav9--hover-width: 20px;
$nav9--hover-height: 16px;
$nav9--hover-total-width: 24px;
$nav9--hover-total-height: 468px;
$nav9--hover-image: '../img/icon.png';
$nav9--hover: 0px 16px 0px -16px 20px 16px 24px 468px '../img/icon.png';
$nav9-x: 0px;
$nav9-y: 0px;
$nav9-offset-x: 0px;
$nav9-offset-y: 0px;
$nav9-width: 20px;
$nav9-height: 16px;
$nav9-total-width: 24px;
$nav9-total-height: 468px;
$nav9-image: '../img/icon.png';
$nav9: 0px 0px 0px 0px 20px 16px 24px 468px '../img/icon.png';
$notice-x: 0px;
$notice-y: 444px;
$notice-offset-x: 0px;
$notice-offset-y: -444px;
$notice-width: 23px;
$notice-height: 24px;
$notice-total-width: 24px;
$notice-total-height: 468px;
$notice-image: '../img/icon.png';
$notice: 0px 444px 0px -444px 23px 24px 24px 468px '../img/icon.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
