/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-x: 0px;
$arrow-y: 531px;
$arrow-offset-x: 0px;
$arrow-offset-y: -531px;
$arrow-width: 24px;
$arrow-height: 24px;
$arrow-total-width: 24px;
$arrow-total-height: 555px;
$arrow-image: '../img/icon.png';
$arrow: 0px 531px 0px -531px 24px 24px 24px 555px '../img/icon.png';
$checkbox--false-x: 0px;
$checkbox--false-y: 247px;
$checkbox--false-offset-x: 0px;
$checkbox--false-offset-y: -247px;
$checkbox--false-width: 20px;
$checkbox--false-height: 20px;
$checkbox--false-total-width: 24px;
$checkbox--false-total-height: 555px;
$checkbox--false-image: '../img/icon.png';
$checkbox--false: 0px 247px 0px -247px 20px 20px 24px 555px '../img/icon.png';
$checkbox--true-x: 0px;
$checkbox--true-y: 207px;
$checkbox--true-offset-x: 0px;
$checkbox--true-offset-y: -207px;
$checkbox--true-width: 20px;
$checkbox--true-height: 20px;
$checkbox--true-total-width: 24px;
$checkbox--true-total-height: 555px;
$checkbox--true-image: '../img/icon.png';
$checkbox--true: 0px 207px 0px -207px 20px 20px 24px 555px '../img/icon.png';
$nav1--hover-x: 0px;
$nav1--hover-y: 39px;
$nav1--hover-offset-x: 0px;
$nav1--hover-offset-y: -39px;
$nav1--hover-width: 18px;
$nav1--hover-height: 18px;
$nav1--hover-total-width: 24px;
$nav1--hover-total-height: 555px;
$nav1--hover-image: '../img/icon.png';
$nav1--hover: 0px 39px 0px -39px 18px 18px 24px 555px '../img/icon.png';
$nav1-x: 0px;
$nav1-y: 57px;
$nav1-offset-x: 0px;
$nav1-offset-y: -57px;
$nav1-width: 18px;
$nav1-height: 18px;
$nav1-total-width: 24px;
$nav1-total-height: 555px;
$nav1-image: '../img/icon.png';
$nav1: 0px 57px 0px -57px 18px 18px 24px 555px '../img/icon.png';
$nav10--hover-x: 0px;
$nav10--hover-y: 267px;
$nav10--hover-offset-x: 0px;
$nav10--hover-offset-y: -267px;
$nav10--hover-width: 20px;
$nav10--hover-height: 20px;
$nav10--hover-total-width: 24px;
$nav10--hover-total-height: 555px;
$nav10--hover-image: '../img/icon.png';
$nav10--hover: 0px 267px 0px -267px 20px 20px 24px 555px '../img/icon.png';
$nav10-x: 0px;
$nav10-y: 287px;
$nav10-offset-x: 0px;
$nav10-offset-y: -287px;
$nav10-width: 20px;
$nav10-height: 20px;
$nav10-total-width: 24px;
$nav10-total-height: 555px;
$nav10-image: '../img/icon.png';
$nav10: 0px 287px 0px -287px 20px 20px 24px 555px '../img/icon.png';
$nav11--hover-x: 0px;
$nav11--hover-y: 427px;
$nav11--hover-offset-x: 0px;
$nav11--hover-offset-y: -427px;
$nav11--hover-width: 20px;
$nav11--hover-height: 20px;
$nav11--hover-total-width: 24px;
$nav11--hover-total-height: 555px;
$nav11--hover-image: '../img/icon.png';
$nav11--hover: 0px 427px 0px -427px 20px 20px 24px 555px '../img/icon.png';
$nav11-x: 0px;
$nav11-y: 447px;
$nav11-offset-x: 0px;
$nav11-offset-y: -447px;
$nav11-width: 20px;
$nav11-height: 20px;
$nav11-total-width: 24px;
$nav11-total-height: 555px;
$nav11-image: '../img/icon.png';
$nav11: 0px 447px 0px -447px 20px 20px 24px 555px '../img/icon.png';
$nav2--hover-x: 0px;
$nav2--hover-y: 147px;
$nav2--hover-offset-x: 0px;
$nav2--hover-offset-y: -147px;
$nav2--hover-width: 20px;
$nav2--hover-height: 20px;
$nav2--hover-total-width: 24px;
$nav2--hover-total-height: 555px;
$nav2--hover-image: '../img/icon.png';
$nav2--hover: 0px 147px 0px -147px 20px 20px 24px 555px '../img/icon.png';
$nav2-x: 0px;
$nav2-y: 167px;
$nav2-offset-x: 0px;
$nav2-offset-y: -167px;
$nav2-width: 20px;
$nav2-height: 20px;
$nav2-total-width: 24px;
$nav2-total-height: 555px;
$nav2-image: '../img/icon.png';
$nav2: 0px 167px 0px -167px 20px 20px 24px 555px '../img/icon.png';
$nav3--hover-x: 0px;
$nav3--hover-y: 75px;
$nav3--hover-offset-x: 0px;
$nav3--hover-offset-y: -75px;
$nav3--hover-width: 18px;
$nav3--hover-height: 18px;
$nav3--hover-total-width: 24px;
$nav3--hover-total-height: 555px;
$nav3--hover-image: '../img/icon.png';
$nav3--hover: 0px 75px 0px -75px 18px 18px 24px 555px '../img/icon.png';
$nav3-x: 0px;
$nav3-y: 93px;
$nav3-offset-x: 0px;
$nav3-offset-y: -93px;
$nav3-width: 18px;
$nav3-height: 18px;
$nav3-total-width: 24px;
$nav3-total-height: 555px;
$nav3-image: '../img/icon.png';
$nav3: 0px 93px 0px -93px 18px 18px 24px 555px '../img/icon.png';
$nav4--hover-x: 0px;
$nav4--hover-y: 227px;
$nav4--hover-offset-x: 0px;
$nav4--hover-offset-y: -227px;
$nav4--hover-width: 18px;
$nav4--hover-height: 20px;
$nav4--hover-total-width: 24px;
$nav4--hover-total-height: 555px;
$nav4--hover-image: '../img/icon.png';
$nav4--hover: 0px 227px 0px -227px 18px 20px 24px 555px '../img/icon.png';
$nav4-x: 0px;
$nav4-y: 187px;
$nav4-offset-x: 0px;
$nav4-offset-y: -187px;
$nav4-width: 18px;
$nav4-height: 20px;
$nav4-total-width: 24px;
$nav4-total-height: 555px;
$nav4-image: '../img/icon.png';
$nav4: 0px 187px 0px -187px 18px 20px 24px 555px '../img/icon.png';
$nav5--hover-x: 0px;
$nav5--hover-y: 111px;
$nav5--hover-offset-x: 0px;
$nav5--hover-offset-y: -111px;
$nav5--hover-width: 18px;
$nav5--hover-height: 18px;
$nav5--hover-total-width: 24px;
$nav5--hover-total-height: 555px;
$nav5--hover-image: '../img/icon.png';
$nav5--hover: 0px 111px 0px -111px 18px 18px 24px 555px '../img/icon.png';
$nav5-x: 0px;
$nav5-y: 129px;
$nav5-offset-x: 0px;
$nav5-offset-y: -129px;
$nav5-width: 18px;
$nav5-height: 18px;
$nav5-total-width: 24px;
$nav5-total-height: 555px;
$nav5-image: '../img/icon.png';
$nav5: 0px 129px 0px -129px 18px 18px 24px 555px '../img/icon.png';
$nav6--hover-x: 0px;
$nav6--hover-y: 307px;
$nav6--hover-offset-x: 0px;
$nav6--hover-offset-y: -307px;
$nav6--hover-width: 20px;
$nav6--hover-height: 20px;
$nav6--hover-total-width: 24px;
$nav6--hover-total-height: 555px;
$nav6--hover-image: '../img/icon.png';
$nav6--hover: 0px 307px 0px -307px 20px 20px 24px 555px '../img/icon.png';
$nav6-x: 0px;
$nav6-y: 327px;
$nav6-offset-x: 0px;
$nav6-offset-y: -327px;
$nav6-width: 20px;
$nav6-height: 20px;
$nav6-total-width: 24px;
$nav6-total-height: 555px;
$nav6-image: '../img/icon.png';
$nav6: 0px 327px 0px -327px 20px 20px 24px 555px '../img/icon.png';
$nav7--hover-x: 0px;
$nav7--hover-y: 347px;
$nav7--hover-offset-x: 0px;
$nav7--hover-offset-y: -347px;
$nav7--hover-width: 20px;
$nav7--hover-height: 20px;
$nav7--hover-total-width: 24px;
$nav7--hover-total-height: 555px;
$nav7--hover-image: '../img/icon.png';
$nav7--hover: 0px 347px 0px -347px 20px 20px 24px 555px '../img/icon.png';
$nav7-x: 0px;
$nav7-y: 367px;
$nav7-offset-x: 0px;
$nav7-offset-y: -367px;
$nav7-width: 20px;
$nav7-height: 20px;
$nav7-total-width: 24px;
$nav7-total-height: 555px;
$nav7-image: '../img/icon.png';
$nav7: 0px 367px 0px -367px 20px 20px 24px 555px '../img/icon.png';
$nav8--hover-x: 0px;
$nav8--hover-y: 387px;
$nav8--hover-offset-x: 0px;
$nav8--hover-offset-y: -387px;
$nav8--hover-width: 20px;
$nav8--hover-height: 20px;
$nav8--hover-total-width: 24px;
$nav8--hover-total-height: 555px;
$nav8--hover-image: '../img/icon.png';
$nav8--hover: 0px 387px 0px -387px 20px 20px 24px 555px '../img/icon.png';
$nav8-x: 0px;
$nav8-y: 407px;
$nav8-offset-x: 0px;
$nav8-offset-y: -407px;
$nav8-width: 20px;
$nav8-height: 20px;
$nav8-total-width: 24px;
$nav8-total-height: 555px;
$nav8-image: '../img/icon.png';
$nav8: 0px 407px 0px -407px 20px 20px 24px 555px '../img/icon.png';
$nav9--hover-x: 0px;
$nav9--hover-y: 7px;
$nav9--hover-offset-x: 0px;
$nav9--hover-offset-y: -7px;
$nav9--hover-width: 20px;
$nav9--hover-height: 16px;
$nav9--hover-total-width: 24px;
$nav9--hover-total-height: 555px;
$nav9--hover-image: '../img/icon.png';
$nav9--hover: 0px 7px 0px -7px 20px 16px 24px 555px '../img/icon.png';
$nav9-x: 0px;
$nav9-y: 23px;
$nav9-offset-x: 0px;
$nav9-offset-y: -23px;
$nav9-width: 20px;
$nav9-height: 16px;
$nav9-total-width: 24px;
$nav9-total-height: 555px;
$nav9-image: '../img/icon.png';
$nav9: 0px 23px 0px -23px 20px 16px 24px 555px '../img/icon.png';
$notice-x: 0px;
$notice-y: 507px;
$notice-offset-x: 0px;
$notice-offset-y: -507px;
$notice-width: 23px;
$notice-height: 24px;
$notice-total-width: 24px;
$notice-total-height: 555px;
$notice-image: '../img/icon.png';
$notice: 0px 507px 0px -507px 23px 24px 24px 555px '../img/icon.png';
$radio--false-x: 0px;
$radio--false-y: 487px;
$radio--false-offset-x: 0px;
$radio--false-offset-y: -487px;
$radio--false-width: 20px;
$radio--false-height: 20px;
$radio--false-total-width: 24px;
$radio--false-total-height: 555px;
$radio--false-image: '../img/icon.png';
$radio--false: 0px 487px 0px -487px 20px 20px 24px 555px '../img/icon.png';
$radio--true-x: 0px;
$radio--true-y: 467px;
$radio--true-offset-x: 0px;
$radio--true-offset-y: -467px;
$radio--true-width: 20px;
$radio--true-height: 20px;
$radio--true-total-width: 24px;
$radio--true-total-height: 555px;
$radio--true-image: '../img/icon.png';
$radio--true: 0px 467px 0px -467px 20px 20px 24px 555px '../img/icon.png';
$select-arrow-x: 0px;
$select-arrow-y: 0px;
$select-arrow-offset-x: 0px;
$select-arrow-offset-y: 0px;
$select-arrow-width: 12px;
$select-arrow-height: 7px;
$select-arrow-total-width: 24px;
$select-arrow-total-height: 555px;
$select-arrow-image: '../img/icon.png';
$select-arrow: 0px 0px 0px 0px 12px 7px 24px 555px '../img/icon.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
